<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include meta.liquid %}
    <title>{{title}} - Sweet Potato Sociology</title>
    <meta property="og:image" content="{{ og-image }}" />
    <meta property="og:image:alt" content="This epsiode's thumbnail" />
    <meta property="og:description" content="{{ og-description }}" />
  </head>
  <body class="episode">
    {% include header.liquid %}
    {{content}}
  </body>
</html>
