<header class="header-banner">
  <a href="/">
    <img src="/assets/potato.svg" alt="Let's go home">
  </a>
  <nav>
    <ul>
      <li>
        <a href="/videos">Scripts/References</a>
      </li>
      <li>
        <a href="#">YouTube</a>
      </li>
      <li>
        <a href="#">Patreon</a>
      </li>
      <li>
        <a href="/info">Info</a>
      </li>
    </ul>
  </nav>
</header>
