<header class="header-banner">
  <a href="/">
    <img src="/assets/potato.svg" alt="Let's go home">
  </a>
  <nav>
    <ul>
      <li>
        <a href="/videos">Scripts/References</a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UC0SDkVCnQrb6Gtm4xgGu_IQ" target="_blank">YouTube</a>
      </li>
      <li>
        <a href="https://www.patreon.com/sweetpotatosociology" target="_blank">Patreon</a>
      </li>
      <li>
        <a href="/info">Info</a>
      </li>
    </ul>
  </nav>
</header>
