<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include meta.liquid %}
    <title>Info - Sweet Potato Sociology</title>
    {% include opengraph.liquid %}
  </head>
  <body class="info">
    {% include header.liquid %}
    <main>
      {{content}}
    </main>
  </body>
</html>
