<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Info - Sweet Potato Sociology</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta property="og:image" content="https://www.sweetpotatosociology.com/assets/potato.svg" />
    <meta property="og:image:alt" content="Sweet Potato Sociology's cute sweet potato logo" />
    <meta property="og:description" content="A sweet, scholarly, and satisfying sociological video series" />
  </head>
  <body class="info">
    {% include header.liquid %}
    <main>
      {{content}}
    </main>
  </body>
</html>
